body {
    text-align: center;
    background-color:  rgb(228, 70, 167, 0.8);
}

#headerr {
    border: solid 5px midnightblue;
    background-color: gray;
}



.header {
    color: white;
    background-color: gray;
    padding: 5px;
}

.guides {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.htmlguide {
    display: inline-flex;
    width: 200px;
    font-size: 26px;
    background-color: rgb(149, 209, 149);
    justify-content: center;
    align-items: center;
}

.smalltitles {
    display: inline-flex;
    background-color: rgb(228, 70, 167);
    margin-left: 90px;
    margin-right: 90px;
    padding-left: 25px;
    padding-right: 25px;
}

.smalltitles h5 {
    font-size: 20px;
    color: white;
}

.cssguide {
    display: inline-flex;
    font-size: 26px;
    width: 200px;
    background-color: rgb(149, 209, 149);
    justify-content: center;
    align-items: center;
}

.htmlguide ul,
.cssguide ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.guides li h2{
    font-size: 28px;
margin-top: 5px;
margin-bottom: 5px;
}


.guides li a{
    color: midnightblue;
    opacity: 0.7;
    width: 250px;
    font-weight: bold;
    font-size: 22px;
}

#main-content {
    display: flex;
    justify-content: space-evenly;
}

.html-content {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    align-content: center;
}

.html-content2 {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-content: center;
}

.html-header {
    background-color:  rgb(228, 70, 167, 0.8);
    height: 75px;
    color: white;
}

.mainh1 {
    background-color: rgb(149, 209, 149);
    height: 40px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}



#Text-styles {
    height: 800px;
    background-color: rgba(94, 204, 255, 0.6);
    border-right: solid 1px black;
}

#Text-styles .h22 {
    margin-top: 20px;
    margin-bottom: 50px;
}

 .dataInTextStyles {
     display: flex;
     justify-content: space-around;
 }

 .headertypes {
     direction: column;
     border: solid 2px black;
     display: inline-flex;
     flex-direction: column;
     width: 25%;
     height: 460px;
     background-color: rgb(149, 209, 149);
     justify-content: center;
 }

 .sti {
     border: solid 2px black;
     display: inline-flex;
     flex-direction: column;
     width: 25%;
     height: 460px;
     background-color: rgb(149, 209, 149);
     justify-content: center;
 }

 .stiBigger {
     font-size: 22px;
     display: inline-flex;
     flex-direction: column;
 }

 .lists {
     display: inline-flex;
     flex-direction: column;
     border: solid 2px black;
     width: 25%;
     background-color: rgb(149, 209, 149);
     justify-content: center;
 }


 .css-content {
    display: inline-flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.css-content2 {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


.css-header {
    background-color:  rgb(228, 70, 167, 0.8);
    height: 75px;
    color: white;
    width: 100%;
}

#colors {
    height: 150px;
}

#colors, 
.css-content .ninecolors {
    width: 100%;
    background-color: rgba(94, 204, 255, 0.6);
    border-left: 1px;
}


#colors, 
.css-content2 .ninecolors {
    width: 100%;
    background-color: rgba(94, 204, 255, 0.6);
    border-left: 1px;
}

 .ninecolors{
     display: flex;
     height: 650px;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
 }


 .normalcolors {
     display: inline-flex;
     width: 95%;
     height: 120px;
     border: solid 1px black;
     justify-content: space-around;
     align-items: center;
     background-color: white;
 }
 
 .hslcolors {
     display: inline-flex;
     width: 95%;
     height: 120px;
     border: solid 1px black;
     justify-content: space-around;
     align-items: center;
     background-color: white;
 }

 .rgbcolors {
    display: inline-flex;
    width: 95%;
    height: 120px;
    border: solid 1px black;
    justify-content: space-around;
    align-items: center;
    background-color: white;
 }

 .normalcolors .green {
     display: inline-flex;
     width: 18%;
     height: 100px;
     background-color: green;
     justify-content: center;
     align-items: center;
     font-size: 22px;
 }

 .normalcolors .red {
     display: inline-flex;
     width: 18%;
     height: 100px;
     background-color: red;
     justify-content: center;
     align-items: center;
     font-size: 22px;
 }

 .normalcolors .blue {
     display: inline-flex;
     width: 18%;
     height: 100px;
     background-color: blue;
     justify-content: center;
     align-items: center;
     font-size: 22px;
 }

 .hslcolors .green {
    display: inline-flex;
    width: 18%;
    height: 100px;
    background-color: hsla(110, 70%, 30%);
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.hslcolors .red {
    display: inline-flex;
    width: 18%;
    height: 100px;
    background-color: hsla(0, 100%, 50%);
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.hslcolors .blue {
    display: inline-flex;
    width: 18%;
    height: 100px;
    background-color: hsla(180, 80%, 20%);
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.rgbcolors .green {
    display: inline-flex;
    width: 18%;
    height: 100px;
    background-color: rgb(6, 95, 6);
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.rgbcolors .red {
    display: inline-flex;
    width: 18%;
    height: 100px;
    background-color: rgb(240, 11, 11);
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.rgbcolors .blue {
    display: inline-flex;
    width: 18%;
    height: 100px;
    background-color: rgb(21, 21, 247);
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

#input-types {
    background-color: rgba(94, 204, 255, 0.6);
    width: 100%;
    border-right: solid 1px black;
    height: 1000px;
}

.differentInputTypes {
    display: flex;
    justify-content: space-around;
}

.userAndPassword {
    display: inline-flex;
    border: solid 1px black;
    background-color: rgb(149, 209, 149);
    width: 40%;
    justify-content: center;
}

.radioButton {
    display: inline-flex;
    border: solid 1px black;
    background-color: rgb(149, 209, 149);
    width: 40%;
    justify-content: center;
}

.moreDifferentInputTypes {
    border: solid 2px black;
    margin: 50px auto;
    width: 50%;
    background-color: rgb(149, 209, 149);
}

.lastTwoInputTypes {
    display: flex;
    justify-content: space-around;
}

.checkboxx {
    display: inline-flex;
    border: solid 2px black;
    height: 180px;
    align-items: center;
    background-color: rgb(149, 209, 149);
    width: 40%;
    justify-content: center;
}

.birthdayy {
    display: inline-flex;
    border: solid 2px black;
    height: 180px;
    align-items: center;
    background-color: rgb(149, 209, 149);
    width: 40%;
    justify-content: center;
}

#font-sizes {
    background-color: rgba(94, 204, 255, 0.6);
    width: 100%;
    border-left: solid 1px black;
    height: 1000px;
}

.differentsizes {
    display: flex;
    justify-content: space-around;
}

.differentsizes1 {
    display: inline-flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: rgb(149, 209, 149);
    width: 40%;
}

.differentsizes2 {
    display: inline-flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: rgb(149, 209, 149);
    width: 40%;
}

.px1 {font-size: 1px;}
.px2 {font-size: 2px;}
.px4 {font-size: 4px;}
.px6 {font-size: 6px;}
.px8 {font-size: 8px;}
.px10 {font-size: 10px;}
.px12 {font-size: 12px;}
.px14 {font-size: 14px;}
.px16 {font-size: 16px;}
.px18 {font-size: 18px;}
.px20 {font-size: 20px;}
.px22 {font-size: 22px;}
.px24 {font-size: 24px;}
.px26 {font-size: 26px;}
.px28 {font-size: 28px;}
.px30 {font-size: 30px;}
.px32 {font-size: 32px;}
.px34 {font-size: 34px;}
.px36 {font-size: 36px;}
.px38 {font-size: 38px;}
.px40 {font-size: 40px;}
.px42 {font-size: 42px;}
.px44 {font-size: 44px;}
.px46 {font-size: 46px;}
.px48 {font-size: 48px;}
.px50 {font-size: 50px;}

#table {
    border-right: solid 1px black;
    background-color: rgba(94, 204, 255, 0.6);
    height: 820px;
}

#tablee {
    border-right: solid 1px black;
    background-color: rgba(94, 204, 255, 0.6);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    display: inline-flex;
    font-size: 24px;
}

.tablee {
    font-size: 40px;
    display: inline-flex;
}

.tablee td {
    border: solid 1px black;
    background-color:  rgb(228, 70, 167, 0.8);
}


.tablee th {
   border: solid 1px black;
   background-color: rgb(149, 209, 149);
}

.table td {
    border: solid 1px black;
    background-color:  rgb(228, 70, 167, 0.8);
}


.table th {
   border: solid 1px black;
   background-color: rgb(149, 209, 149);
}

#font-family {
    width: 100%;
    height: 820px;
    background-color: rgba(94, 204, 255, 0.6);
    border-left: solid 1px black;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 209, 149);
}

.Verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(149, 209, 149);
}
.Tahoma {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(149, 209, 149);
}
.Times {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(149, 209, 149);
}
.monospace {
    font-family: monospace;
    background-color: rgb(149, 209, 149);
}
.cursive {
    font-family: cursive;
    background-color: rgb(149, 209, 149);
}
.cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(149, 209, 149);
}

.BlinkMacSystemFont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(149, 209, 149);
}

.CourierNew {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(149, 209, 149);
}
.fantasy {
    font-family: fantasy;
    background-color: rgb(149, 209, 149);
}
.GillSans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(149, 209, 149);
}
.inherit {
    font-family: inherit;
    background-color: rgb(149, 209, 149);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.inspiration {
    display: inline-flex;
    color: white;
}

.credit {
    display: inline-flex;
    color: white;
}